# TimescaleDB 
POSTGRES_USER=sentinel
POSTGRES_PASSWORD=sentinel-dev
POSTGRES_DB=sentinel

#  Neo4j 
NEO4J_AUTH=neo4j/sentinel-dev

#  Port bindings
TIMESCALE_PORT=5432
REDIS_PORT=6379
REDPANDA_KAFKA_PORT=9092
REDPANDA_ADMIN_PORT=9644
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
